body{
    background-color: red;
}

div{
    border: 1px solid white;
}

.my-box{
    margin: 10vh auto;
    width: 90%;
    max-width: 1200px;
}

#profile-bar{
    height: 75px;
    background-color: lightgrey;
}

#enable-notifications-bar{
    height: 85px;
    background-color: lightskyblue;
}

#bell-icon{
    background-color: white;
    color: lightskyblue;
}

#searchbar{
    height: 50px;
    background-color: lightgrey;
}

input::placeholder{
    text-align: center;
}

.chat{
    height: 85px;
    background-color: white;
}