/* VARIABLES */

:root{
    --top-bar-height: 75px;
    --enable-notifications-height: 85px;
    --searchbar-height: 50px;
    --message-input-height: 75px;
}

/* GENERIC */

a{
    cursor: pointer;
}

/* BODY */
body{
    background: no-repeat linear-gradient(#009688 20%, #d2dbdb 20% 80%);
    height: 100vh;
}

/* BOX */

.my-box{
    width: 90%;
    height: 80%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* LEFT SIDE OF BOX */

#profile-bar, #chat-top-bar{
    height: var(--top-bar-height);
    background-color: #eaeaea;
}

#enable-notifications-bar{
    height: var(--enable-notifications-height);
    background-color: lightskyblue;
}

#bell-icon{
    background-color: white;
    color: lightskyblue;
    aspect-ratio: 1/1;
}

#searchbar{
    height: var(--searchbar-height);
    background-color: #eaeaea;
}

#chat-list{
    height: calc( 100% -  var(--top-bar-height) - var(--enable-notifications-height) -  var(--searchbar-height));
    background-color: white;
    overflow-y: auto;
}

.chat{
    height: 85px;
    background-color: white;
}

/* RIGHT SIDE OF BOX */

#chat-box{
    height: calc( 100% - var(--top-bar-height) - var(--message-input-height) );
    background-image: url(../img/mine.png);
    overflow-y: auto;
}

#message-input-bar{
    height: var(--message-input-height);
    background-color: #eaeaea;
}

.message{
    display: flex;
}

.message > div > span{
    font-size: 12px;
}

.message.sent{
    text-align: right;
    flex-direction: row-reverse;
}

.message.sent div{
    background-color: #d5f9ba;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    max-width: 50%;
    word-break: break-all;
}

.message.received div{
    background-color: white;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    word-break: break-all;
    max-width: 50%;
}